header {
  max-width: 100%;
  height: 110px;
  margin: 2vh auto auto 2vw;
}

header img {
  float: left;
  max-height: 80%;
  max-width: 20%;

}

header h1, header h2 {
  font-family: Lato;
  margin: 5px auto auto  10px;
}
header h1 {
  font-size: 1.8rem;
  line-height: 2rem;
}

header h2 {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
header p {
  font-size: 0.8rem;
  margin: 0;
  line-height: 1.5rem;
}

.titleGroup {
  align-items: center;
  max-height: 80%;
}

section{
  margin: 10px auto;
  width: 90vw;
  max-width: 90%;
}