
* {
  margin: 0;
}
header {
  max-width: 100%;
  height: 15vh;
  margin: 2vh auto auto 2vw;
  background-color: floralwhite;
}

header img {
  float: left;
  max-height: 80%;
  max-width: 20%;
  margin: 5px 10px 0 5px;
}

header h1, header h2 {
  font-family: Lato;
  margin: 0;
  display: inline;
  line-height: 2em;
}
header h1 {
  font-size: 1.8rem;
  line-height: 2rem;
  
}

header h2 {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
header p {
  font-size: 0.8rem;
  margin: 0;
  line-height: 1.5rem;
}

.titleGroup {
  align-items: center;
  max-height: 80%;
}

section{
  margin: 10px auto;
  width: 90vw;
  max-width: 90%;
}

article h3 {
  text-align: center;
  text-decoration: underline;
  font-variant: small-caps;
  font-size: 1.3rem;
  line-height: 2rem;
  max-width: 80%;
  margin: 10px auto 10px auto;
}
.article-content{
  background-color: floralwhite;
  padding: 5px;
  box-shadow: 2px 3px 3px lightgray;
  border-left: 3px solid red;
}